 
  
  .TabListItem {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;

  }
  
  .TabListActive {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    background-color: lightblue;
    border: solid black;
    border-width: 1px 1px 0 1px;
  }

  .TabListItem:hover {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    background-color: rgb(100, 100, 216); 
    color:lightblue;
 
    border-width: 1px 1px 0 1px;
  }

   
